.products-container{
    height: 100%;
    width: 100vw;
    padding-top: 5rem;
}

.products-intro{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}

.products_text{
    text-align: justify;
}
.products_text h2{
    text-align: center;
}