.products-container{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.products{
    background-color: blue;
    
}

.products-intro{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
}

.products_text{
    text-align: center;
}