
.company-container{
  padding-top: 6rem;
}
.company-title{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content-company{
  padding: 4.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.right-side{
  padding: 2.5rem;
  background-color: white;
  border-radius: 0.8rem;
}