.header-container{
    position: relative;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 27rem auto 20rem;
    align-items: center;
    max-height: 100%;
    padding-top: 9rem;
    padding-bottom: 5rem;
}



.info .delivery{
    background-color: var(--color-pink);
    width: max-content;
    padding: 0.5rem 2rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    color: var(--color-black);
    margin-bottom: 4rem;
}

.delivery_text{
    font-size: 1rem;
}
.info p{
font-size: 1.3rem;
font-weight: 500;
margin: 1rem 0 2rem;
}

.icon-truck{
    position: relative;
    top: 0.4rem;
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.5rem;
}



.details-container{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 5% 62%);
    border-radius: 2rem;
    padding-top: 3.5rem;
    padding-left: 5rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    
    background-color: var(--color-green);
}
.details-container h4{
    font-family: 'Abhaya Libre', serif;;

}
.details-container p{
    font-family: 'Poppins', sans-serif;

}
button .btn-secundary {
    font-family: 'Poppins', sans-serif;
}
