

section#faq h2 {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.content {
  width: 60%;
  margin: auto;
}

.question {
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  gap: 1.4rem;
  height: fit-content;
  background-color: white;
  cursor: pointer;
  margin-bottom: 1rem;
}
.question h4{
    font-size: 1.5rem;
}

.question p{
  color: var(--color-gray);
  margin: 1rem;
  
}

.detail p.open{
    display: block;
}

.detail p{
  display: none;
}

